<div class="page-header">
    <h1>Listing courses</h1>
  </div>
<div class="container marketing">
  <div class="row">
    <% @courses.each do |course| %>
      <a href="<%= see_more_path(course) %>" class="mudaTexto">
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2><span class="mudaTexto"><%= course.name %></span></h2>
              <%= image_tag course.image_url(:thumb).to_s, :size => '200x200' %>
              <h4><i class="glyphicon glyphicon-time"></i> <%= course.workload %> horas </h4> 
              <%= link_to "Inscrever-se", inscrever_se_courses_path(:id => course.id),:method => :put, :role => "button", :class => "btn btn-success btn-md btn-block" %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div> <!-- row -->
</div> <!-- marketing -->



<!-- Parte do código que não é visivel -->
  <% if false %>
  <%= link_to 'Show', course, :class => "btn btn-primary", :role => "button" %>
  <%= link_to 'Edit', edit_course_path(course), :class => "btn btn-primary", :role => "button" %>
  <%= link_to 'Destroy', course, :class => "btn btn-primary", :role => "button", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<!-- sanusahusahsa -->

<!-- <div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">Courses</h3>
</div>
<div class="panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Increver-se", inscrever_se_courses_path(:id => course.id),:method => :put %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div> -->


<br/>
<!-- <%= link_to 'New Course', new_course_path %>
 -->