<div class="container" >
  <div class="row">
    <div class="page-header">
      <h1>Listing courses</h1>
    </div>

    <div class="col-md-12">
      <% @courses.each do |course| %>
      <div class="col-md-4 text-center">
        <div class="col-md-12">
          <h3 class="mudaTexto text-center"><%= course.name %></h3><br/>
        </div>
        <br/>
        <%= image_tag course.image_url(:thumb).to_s, :size => '200x200', class: "img-rounded" %><br/>
        <strong>Workload</strong> <%= course.workload %><br/>
        <strong>Start date</strong> <%= course.start_date %><br/>
        <strong>End date</strong> <%= course.end_date %><br/>
        <strong>Maximum capacity</strong> <%= course.maximum_capacity %><br/>
        <strong>Minimum capacity</strong> <%= course.minimum_capacity %>
        <br/>
        <br/>
        <div class="col-md-12 text-center">
          <%= link_to 'Show', course, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_course_path(course), class: "btn btn-primary" %>
          <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </div>
        <br/>
        <br/>
        <br/>
      </div>    
      <% end %>  
    </div>    
  </div>
</div>
<br/>
<%= link_to 'New Course', new_course_path %>
