<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @course.workload %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @course.specification %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>Maximum capacity:</strong>
  <%= @course.maximum_capacity %>
</p>

<p>
  <strong>Minimum capacity:</strong>
  <%= @course.minimum_capacity %>
</p>
<p>
  <strong>Instrutores:</strong>
  <% @course.users.each do |u| %>
    <%= u.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
