<div class="container">
  <div class="row clearfix">


    <div class="col-md-8 column">
      <div >
        <div id="quadroCursosUsers">
          <h1><%= @course.name %> </h1>
        </div>

        <br/> 

        <p align="center">
          <%= image_tag @course.image_url(:thumb).to_s, :size => '250x350', class: "img-responsive" %>
        </p>

        <br/>
        <strong>Specification:</strong>
        <div class="pogPular" type="text">
          <p> <%= raw(@course.specification) %></p>
        </div>

        <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %> 
        <%= link_to 'Back', courses_path, class: "btn btn-primary" %>
      </div>
    </div>
    
    <div class="col-md-4 column well">
      <div id="espacosParaAmbosOsLados">
        <h3 id="margemParabaixo">Informations</h3>
        <h4><i class="glyphicon glyphicon-time"></i><strong> Workload:</strong> <%= @course.workload %> </h4>
        <h4><i class="glyphicon glyphicon-calendar"></i><strong> Start date:</strong> <%= @course.start_date %> </h4>
        <h4><i class="glyphicon glyphicon-calendar"></i><strong> End date:</strong> <%= @course.end_date %> </h4>
        <h4><i class="glyphicon glyphicon-plus"></i><strong> Maximum capacity:</strong> <%= @course.maximum_capacity %> </h4>
        <h4 id="margemParabaixo"><i class="glyphicon glyphicon-minus"></i><strong> Minimum capacity:</strong> <%= @course.minimum_capacity %> </h4>
        <hr/>

        <h3 id="margemParabaixo">Instructors</h3>

      </div>
      
      <% @course.users.each do |u| %>
      <div class="col-md-6" align="center" >
        <%= image_tag u.image_url(:thumb).to_s, size: "100x100", class: "img-circle " if u.type == "Member" %>
        <br/>
        <br/>
        <strong ><%= u.name if u.type == "Member" %></strong>
        <br/>
        <br/>
      </div>
      <% end %>
      <br/>
      
    </div>

  </div>
</div>

